#my-library {
  .my-mixin(@test_width, @test_height) {
    width: @test_width;
    height: @test_height;
  }
}
// which can be used like this
.bodyStyle {
  #my-library > .my-mixin(100vw, 100vh);
}

.headerStyle {
  #my-library > .my-mixin(100vw, 100vh);
}

body {
  background-size: cover;
  .bodyStyle;
}
