.bodyStyle {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rootStyle {
  width: 100vw;
  height: 100vh;
}
.headerStyle {
  width: 100%;
  height: 5%;
}
.navStyle {
  width: 100%;
  height: 100%;
}
.ulStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2.5rem;
}
.mainStyle {
  width: 100%;
  height: 95%;
}
.firstSectionStyle {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.firstSectionDivsStyle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.firstSectionImgs {
  width: 50%;
  height: 50%;
}
body {
  background-color: red;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #root {
  width: 100vw;
  height: 100vh;
}
body #root header {
  background-color: blue;
  width: 100%;
  height: 5%;
}
body #root header nav:first-child {
  width: 100%;
  height: 100%;
}
body #root header nav:first-child > ul:first-child {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2.5rem;
}
body #root main {
  width: 100%;
  height: 95%;
}
body #root main section:first-child {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
body #root main section:first-child div:first-child {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #root main section:first-child div:nth-child(2) {
  background-color: cadetblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
